
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #e9e1e5;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    color: #cf1296;
    line-height: 60px;
}
.heading h1{
    font-size: 60px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height:4 px;
    display: block;
    margin: 0 auto;
    background-color: #32b436;
}
.heading p{
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;
    line-height: 10px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex:1 ;
    margin-right: 50px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex:1;
}
.about-content p{
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;
    line-height: 50px;
}
.about-content a {
    display: inline-block;
    background-color: #10e2d8;
    padding: 10px 20px;
    color: #ca137e;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content a:hover {
    background-color: #19eaf1;
}

/*navigation*/
nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1vw 8vw;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
    width: 100%;
    
}

nav img {
    width: 200px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li {
    display: inline-block;
    margin: 0 5rem;
}
nav .navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
}
nav .navigation ul li a {
    text-decoration:none;
    color: rgb(212, 25, 103);
    font-size: 28px;
    font-weight: 600;
    transition: 0.3 ease;
}
nav .navigation ul li a:hover{
color: #62d42d;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
}

.footer {
    display: flex;
    justify-content:left;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}
.footer .footer-col {
    width: 25%;
    padding: 0 60px;
}

.footer-col h4 {
    font-size: 20px;
    margin-bottom: 35px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 4px;
    box-sizing: border-box;
    width: 75px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #adadad;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #c443c9; 
    padding-left: 10px;
}
.footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer .social-links a:hover {
    color: #e023d7;
    background-color: #ffffff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}
