@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body{
    margin:0;
    font-family: sans-serif;
    background: #e9e1e5;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 ;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #a39494;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background: #a22121;
}
.buy-2{
    background: #2183a2;
}
.buy-3{
    background: #8fa221;
}
.buy-4{
    background: #dad614;
}
.buy-5{
    background: #02a5d6;
}
.buy-6{
    background: #25a221;
}
/*navigation*/
nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1vw 8vw;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
    width: 100%;
    
}

nav img {
    width: 200px;
    cursor: pointer;
    margin-left: 20px;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li {
    list-style:none;
    margin-left: 150px;

}
nav .navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
}
nav .navigation ul li a {
    text-decoration:none;
    color: rgb(21, 21, 100);
    font-size: 28px;
    font-weight: 600;
    transition: 0.3 ease;
}
nav .navigation ul li a:hover{
color: #62d42d;
}
